<section>
    <h2>New Post</h2>

    <form class="newPostForm">
        <div>
        <label for="postTitle">Title</label>
        <input type="text" id="postTitle" name="postTitle" />
        </div>
        <div>
        <label for="postText">Text</label>
        <textarea type="text" name="postText"></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Past Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="editLink">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>